@media (max-width: 1640px) {
  .popularity {
    &-right {
      background-color: #fff;
      padding-left: 1.5rem;
      padding-right: 0;
    }
  }
  .history {
    &-wrapper {
      background-size: 50%;
    }
    &-form {
      margin-left: 0;
    }
  }
}

@media (max-width: 1400px) {
  .popularity {
    .wrap {
      background-size: 75rem;
    }
  }
}

@media (max-width: 1230px) {
  .sertificate {
    margin-top: -10rem;
    &-images {
      position: static;
      text-align: center;
      img {
        margin: 4rem 0;
      }
    }
    fieldset {
      max-width: 100%;
      p {
        width: 100%;        
      }
    }
    &-content {
      padding-left: 0;
      max-width: 100%;
    }
    &-text {
      padding-right: 0;
      text-align: center;
      margin-right: 0;
      max-width: 100%;
    }
    &-title {
      text-align: center;
    }
    &-inner {
      display: block;
      height: 100%;
    }
  }
  .popularity {
    margin-top: -14rem;
    margin-bottom: 0;
    .mobilebg {
      display: block;
      background: url('../img/popularity1.jpg') center no-repeat;
      background-size: cover;
      min-height: 64.5rem;
      width: 100%;
      position: relative;
      z-index: 4;
      margin-top: -14rem;
    }
    .wrap {
      background: none;
    }
    &-inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-right {
      padding-left: 0;
      max-width: 80rem;
      order: 0;
      text-align: center;
      ul {
        text-align: left;
      }
      &-title {
        font-size: 3rem;
        line-height: 4rem;
      }
    }
    &-box {
      max-width: 60rem;
      margin-right: 0;
      order: 1;
      position: relative;
      z-index: 5;
      top: 52.4rem;
    }
  }
  .history {
    background-color: #f6f9f3;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .form-btn {
      &:before {
        right: 4.5rem;
      }
    }
    &-form {
      max-width: 100%;
      background-color: #fff;
      padding-top: 3rem;
      padding-right: 55%;
      padding-left: 4.5rem;
      position: relative;
      padding-bottom: 14.2rem;
      &:after{
        content: "";
        width: 35.3rem;
        height: 42rem;
        background-image: url('../img/igor.jpg');
        position: absolute;
        right: 1.5rem;
        top: -2.5rem;
        background-size: cover;
      }
    }
    &-wrapper {
      background-image: none;
      min-height: 0;
    }
    &-text {
      max-width: 100%;
      padding-top: 3.5rem;
      padding: 6rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 3rem;
    }
    &-title {
      text-align: center;
      margin: 0 auto;
      margin-top: 13rem;
      padding-bottom: 0;
    }
  }
  .composition {
    &-box {
      max-width: 100%;
      order: 0;
    }
    &-item {
      order: 1;
    }
    &-row {
      justify-content: space-around;
    }
    &-link {
      max-width: 60rem;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 0;
      height: 27rem;
      &-text {
        font-size: 1.5rem;
      }
    }
  }
  .reviews {
    &-text:nth-child(even) {
      display: none;
    }
    &-text {
      max-width: 100%;
    }
  }
}

@media (max-width: 1120px) {
  .advantages {
    &-inner {
      flex-wrap: wrap;
    }
    &-item {
      width: 50%;
      padding-right: 7rem;
    }
  }
}

@media (max-width: 1040px) {
  .footer {
    &-phone, &-logo {
      display: none;
    }
    &-inner {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      a + a {
        margin-top: 1rem;
      }
    }
  }
  .main {
    justify-content: flex-start;
    &-image {
      text-align: left;
      max-width: 35rem;
    }
  }
  .list-inner {
    display: block;
    padding-bottom: 0;
    .tabs-content {
      background-size: cover;
      margin-top: 0;
      max-width: 50rem;
      height: 69rem;
      margin: 0 auto;
      &:before, &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #a4c58c;
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
        z-index: 5;
      }
      &-reviews {
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
  }
  .list-btn {
    margin-top: 4rem;
    a {
      display: block;
      margin: 0 auto;
      min-width: 43rem;
      padding-right: 4rem;
      &:before {
        right: 8rem;
      }
    }
  }
  .list-title {
    margin: 5rem auto;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    max-width: 36rem;
  }
  .list {
    margin-top: 5rem;
  }
  .tabs-reviews-link {
    left: 14.9rem;
  }
  .quote {
    background: none;
    min-height: 0;
    margin-bottom: 0;
    &-wrapper {
      padding-top: 5rem;
      padding-bottom: 5rem;
      min-height: 0;
      background: none;
    }
  }
  .items {
    max-width: 100%;
    margin-top: -5rem;
    background-color: #f6f9f3;
    .container {
      padding: 0;
    }
    &-wrapper {
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
    }
    &-inner {
      padding: 2rem 0.5rem;
      margin: 0;
      .item {
        width: 33.3%;
      }
    } 
    &-title {
      margin: 0 auto;
      margin-bottom: 9rem;
      text-align: center;
      padding-top: 9rem;
    }
  }
}

@media (max-width: 948px) {
  .build {
    margin-top: -14rem;
    &-wrapper {
      background: none;
    }
    &-inner-box {
      padding-left: 4.5rem;
    }
  }
  .reviews {
    &-link-more {
      margin-left: 0;
      margin-right: 0;
    }
    &-link {
      margin-top: -16rem;
    }
    &-textbox  {
      padding-bottom: 17rem;
    }
    &-tab:last-child {
      padding-left: 4rem;
      padding-right: 2rem;
    }
    &-link {
      flex-direction: column;
        &-more {
          margin-bottom: 2.5rem;
        }
    }
  }
  .main {
    &-form {
      position: absolute;
      right: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 10rem;
      &-input {
        margin-top: 7.3rem;
      }
      &-title {
        font-size: 5rem;
      }
      &-text {
        font-size: 1.6rem;
      }
      &-text, &-title, &-subtitle {
        width: 28rem;
        margin-right: 10rem;
      }
    }
  }
  .items {
    .item {
      min-height: 27.5rem;
    } 
  }
  .composition {
    &-link {
      order: 2;
    }
  }
}

@media (max-width: 768px) {
  .build {
    margin-bottom: 19rem;
    &-inner {
      padding: 0;
    }
  }
  .reviews {
    &-title {
      font-size: 3rem;
      line-height: 4rem;
      text-align: center;
      br {
        display: none;
      }
    }
  }
  .header-text {
    font-size: 1.4rem;
  }
  .advantages {
    margin-top: 28rem;
    &-inner {
      padding: 0 8rem;
    }
    &-item {
      padding-right: 3.5rem;
      margin-bottom: 7.5rem;
    }
  }
  .list {
    margin-top: 9rem;
  }
  .list {
    margin-top: -8rem;
  }
  .popularity-right {
    max-width: 55rem;
  }
  .history {
    &-title {
      font-size: 3rem;
      line-height: 4rem;
    }
    &-text {
      padding-top: 2rem;
    }
  }
  .items {
    &-wrapper {
      min-height: 30rem;
    }
    &-title {
      font-size: 3rem;
      line-height: 4rem;
    }
    .item {
      min-height: 22.5rem;
      max-width: 22.5rem;
    }
  }
  .items {
    margin-bottom: 10rem;
  }
  .composition {
    &-link {
      width: 33.2rem;
      height: 33.2rem;
      &-btn:before {
        right: 4rem;
      }
      &-btn {
        padding-left: 6rem;
      }
      &-text {
        font-size: 1.6rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 4.4rem;
        &:before {
          display: none;
        }
      }
      .mobile {
        display: none;
      } 
    }
    &-item-effect {
      background-size: cover;
    }
    &-item-inner {
      width: 33.2rem;
      height: 33.2rem;
    }
    &-box-title {
      text-align: center;
      font-size: 3rem;
      line-height: 4rem;
      br {
        display: none;
      }
    }
    &-box {
      margin: 0 auto;
      max-width: 52rem;
    }
  }
}

@media (max-width: 750px) {
  .main {
    &-image {
      img {
        width: 20rem;
      }
    }
  }
  .reviews {
    &-link-popup {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
        max-width: 100%;
      &:before {
        display: none;
      }
    }
    &-tab:first-child {
      padding-left: 3rem;
    }
    &-text:nth-child(odd) {
      padding-left: 0;
      padding-right: 0;
      &:before {
        left: 0;
      }
    }
  }
  .build {
    margin-bottom: 14rem;
    &-link:before {
      display: none;
    }
    &-link {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      display: block;
    }
  }
}

@media (max-width: 730px) {
  .composition {
    &-link {
      margin-left: 0;
    }
  }
  .reviews-tab {
    width: 49%;
    padding: 2.5rem 0 !important;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .header-text {
    display: none;
  }
  .history {
    &-text {
      padding-bottom: 4rem;
    }
    &-title {
      margin-top: 21rem;
    }
    &-form {
      padding-bottom: 5rem;
      padding-right: 0;
      padding-top: 40rem;
      padding-right: 4.5rem;
      &-title {
        text-align: center;
        margin-top: 3rem;
      }
      &:after {
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 38.5rem;
      }
    }
  }
}

@media (max-width: 680px) {
  .build {
    margin-bottom: 0;
    &-link {
      max-width: 100%;
    }
    &-wrapper {
      padding: 6rem 0;
    }
    margin-bottom: 4rem;
    &-inner-box {
      padding: 0;
      border: none;
    }
  }
  .items {
    &-inner {
      display: block;
      .item {
        max-width: 100%;
        width: 100%;
        border: none;
        text-align: center;
      }
      .item + .item {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 640px) {
  .main {
    &-form {
      left: 1.5rem;
    }
    &-image img {
      width: 15rem;
    }
  }
  .advantages-inner {
    padding: 0;
    padding-top: 10rem;
  }
  .popularity {
    &-box {
      margin: 0 -1.5rem;
      &-text {
        min-width: 0;
        max-width: 100%;
      }
      &-link {
        padding: 2.2rem 0;
        text-align: center;
        display: block;
        position: static;
        &:before {
          display: none;
        }
      }
    }
  }
  .quote {
    &-wrapper {
      padding: 0;
    }
    &-inner {
      border: none;
      padding: 0;
      font-size: 2rem;
      line-height: 3.5rem;
    }
  }
  .items {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .main {
    &-inner {
      flex-direction: column;
      align-items: center;
    }
    &-form {
      position: static;
      align-items: center;
      text-align: center;
      margin-top: 3rem;
      &-title, &-subtitle {
        width: 100%;
        margin-right: 0;
      }
      &-text  {
        display: none;
      }
    }
    &-form-input {
      display: none;
    }
    &-image {
      width: 8.5rem;
      order: 1;
      margin-top: 0;
      margin-bottom: 3.5rem;
      img {
        width: 8.5rem;
      }
    }
    &-btn-media {
      display: block;
    }
  }
  .advantages {
    margin-top: -2rem;
    &-item {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
  .list {
    margin-top: -5rem;
  }
  .popularity-right-list {
    min-height: 0;
  }
  .popularity .mobilebg {
    margin-top: -21rem;
  }
}

@media (max-width: 550px) {
  .list {
    .tab-item {
      display: none !important;
    }
    &-title {
      margin-bottom: 2rem;
      font-size: 2.4rem;
      line-height: 3rem;
    }
    .tab {
        font-size: 1.2rem;
    }
    .tabs {
      padding-right: 0;
    }
    .active:after {
      display: none;
    }
    .tabs-box {
      flex-direction: column;
      .tab {
        font-size: 1.4rem;
      }
      .tab:first-child, .tab:nth-child(3) {
        border-right: none;
        padding-right: 0;
        width: 100%;
      }
      .tab:last-child, .tab:nth-child(2) {
        padding-left: 0;
        width: 100%;
      }
      .tab:first-child {
        order: 0;
      }
      .tab:nth-child(2) {
        order: 2;
      }
      .tab:nth-child(3) {
        order: 1;
      }
      .tab:last-child {
        order: 3;
        border-bottom: none;
      }
    }
    .tabs-reviews-link {
      left: 50%;
      transform: translateX(-50%);
    }
    .tabs-content {
      height: 15.3rem;
      min-height: 0;
      background: none;
      min-width: 0;
      &-reviews {
        padding: 0; 
        position: static;
        margin: 0;
        max-width: 100%;
        &-inner {
          padding: 3.5rem 0.5rem;
          font-size: 1.4rem !important;
        }
      }
      &:after, &:before {
        display: none;
      }
    }
  }
  .history {
    margin-bottom: 0;
  }
  .quote {
    margin-bottom: 3rem;
  }
} 

@media (max-width: 480px) {
  .sertificate {
    &-link {
      max-width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      text-align: center;
      &:before {
        display: none;
      }
    }
    img {
      max-width: 100%;
      width: 100%;
    }
    &-text {
      font-size: 1.2rem;
    }
    &-title {
      font-size: 2.4rem;
      line-height: 3rem;
      margin-top: 11rem;
    }
    &-box {
      fieldset {
        padding: 4.5rem 1rem 9.5rem 1rem;
      }
    }
  }
  .build {
    margin-top: -20rem;
    .container {
      padding: 0;
    }
    span {
      text-align: center;
      margin-bottom: 4rem;
    }
    &-wrapper {
      padding: 3rem 0;
      min-height: 67rem;
    }
    &-title {
      font-size: 2.4rem;
      line-height: 3rem;
      text-align: center;
      padding: 0 1.5rem;
    }
    &-text {
      padding: 0 1.5rem;     
    }
  }
  .main-form {
    &-subtitle {
        font-size: 1.2rem;
        text-transform: uppercase;
      }
      &-title {
        font-size: 3rem;
        line-height: 3.6rem;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
      }
  }
  .header {
    &-phone {
      line-height: 3rem;  
      height: 3rem;  
      a {
        font-size: 1.35rem;
        &:before {
          display: none; 
        }
      }
      span {
        display: none;
      }
    }
    &-logo {
      img {
        width: 11rem;
      }
    }
  }
  .list {
    .tabs-reviews-link {
      bottom: 2.8rem !important;
    }
    .tabs-content-reviews-inner {
      padding: 2rem 1.5rem !important;
    }
    .container {
      padding: 0;
    }
    &-inner {
      padding: 0 1rem;
    }
    &-btn {
      margin-top: 0;
     a {
        width: 100%;
        padding: 0;
        min-width: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  .popularity-wrapper {
    min-height: 0;
  }
  .popularity-right {
    min-height: 36rem;
    max-height: 47rem;
  }
  .popularity-right-title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .popularity-right-subtitle {
    margin: 2rem 0 3rem 0;
  }
  .popularity-right-list {
    margin-bottom: -8rem;
    padding-left: 0;
    font-size: 1.4rem;
    li+li {
      margin-top: 1.5rem;
    }
  }
  .popularity .mobilebg {
    background-position: bottom;
    min-height: 24.5rem;
    margin-top: -17rem;
  }
  .popularity-box {
    margin-top: -16rem;
    padding: 0;
    &-text {
      text-align: center;
      border: none;
    }
  }
  .quote {
    &-inner {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
    .author {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }
}

@media (max-width: 471px) {
  .popularity .mobilebg {
    margin-top: -14rem;
  }
}

@media (max-width: 418px) {
  .popularity .mobilebg {
    margin-top: -12rem;
  }
}

@media (max-width: 407px) {
  .popularity .mobilebg {
    margin-top: -9rem;
  }
  .items {
    .item-number {
      color: #fff;
    }
    &-inner {
      background-color: #f6f9f3;
    }
    &-title {
      margin-bottom: 6rem;
      padding-bottom: 0;
      padding-top: 5rem;
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
  .reviews-title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .reviews-tab {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .reviews-textbox {
    padding-top: 2rem;
    padding-bottom: 14rem;
  }
  .reviews-link {
    width: 100%;
    margin-top: -11.5rem;
  }
  .reviews  {
    &-textbox {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .container {
      padding: 0;
    }
  }
}

@media (max-width: 360px) {
  .sertificate {
    background-color: #f6f9f3;
    padding-top: 1rem;
    &-link {
      display: block;
      position: static;
      margin-top: 2.5rem;
    }
    &-title {
      margin-top: 8rem;
    }
    &-text {
      margin-bottom: 6rem;
    }
    &-box {
      padding: 0;
      background-color: transparent;
      fieldset {
        border: none;
        padding: 0;
        margin: 0;
        legend {
          text-align: center;
          margin-left: 0;
        }
      }
    }
  }
  .advantages {
    &-inner {
      padding-top: 6rem;
    }
    &-item {
      margin-bottom: 3rem;
      &:before {
        display: none;
      }
    }
  }
  .history .form-btn {
    text-align: center;
    padding-right: 0.6rem;
    &:before {
      display: none;
    }
  }
  .history {
    &-title {
      margin-top: 25rem;
    }
    &-form {
      padding-left: 1rem;
      padding-right: 1rem;
      button {
        width: 110% !important;
        left: -1rem;
      }
    }
  }
  .composition {
    overflow: hidden;
    &-link {
      width: 30rem;
      height: 100%;
      border: none;
      text-align: center;
      padding-top: 0;
      &-btn {
        padding-left: 0;
        padding-right: 0;
        left: -2.2rem;
        width: 115%;
        &:before {
          display: none;
        }
      }
      &-text {
        padding: 0;
        font-size: 1.4rem;
        line-height: 2.4rem;
      }
    }
    &-item-inner {
      width: 30rem;
      height: 30rem;
    }
    &-box-title {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
}

@media (max-width: 342px) {
  .tabs-content-reviews-inner {
    position: relative;
    min-height: 14.2rem;
  }
  .list .tabs-reviews-link {
    bottom: -1.2rem !important;
  }
  .list-inner {
    padding-bottom: 1rem;
  }
}

@media (max-width: 330px) {
  .popularity .mobilebg {
    margin-top: -6rem;
  }
}

@media (max-width: 326px) {
  .popularity .mobilebg {
    margin-top: -4rem;
  }
}